////===     Project 1     ===//
//
//$bg-color: #333;
//$font-color: #fff;
//$primary-color: #008ed6;
//$dark-overlay: rgba(0, 0, 0, 0.7);
//$landing-icon-size: 30px;
//body {
//  background: $bg-color;
//  color: $font-color;
//}
//
//#home-section {
//  background: url("/image/home.jpg") no-repeat center top fixed;
//  background-size: cover;
//  background-attachment: fixed;
//  min-height: 700px;
//
//  .dark-overlay {
//    background: $dark-overlay;
//    position: absolute;
//    top: 0;
//    left: 0;
//    width: 100%;
//    min-height: 700px;
//  }
//
//  .home-inner {
//    padding: 150px;
//  }
//
//  .fa {
//    color: $primary-color;
//    background: #FFF;
//    padding: 4px;
//    border-radius: 5px;
//    font-size: $landing-icon-size;
//  }
//}
//
//.card-form {
//  opacity: 0.8;
//}
//
//.navbar {
//  border-bottom: $primary-color 3px solid;
//}
//
//#explore-section, #share-section{
//  .fa{
//    color:#fff;
//    background:#333;
//    padding:4px;
//    border-radius:5px;
//    font-size:$landing-icon-size;
//  }
//}
//
//#create-section{
//  .fa{
//    color:$primary-color;
//    background:#fff;
//    padding:4px;
//    border-radius:5px;
//    font-size:$landing-icon-size;
//  }
//}
//
//.modal{
//  color:#333;
//}