//@import "partials/variables";
@import "../../node_modules/font-awesome/scss/font-awesome";
@import "../../node_modules/bootstrap/scss/bootstrap";

//@font-face {
//  font-family: Samim;
//  src: url('/fonts/Samim.woff') format('woff');
//  font-weight: normal;
//}
//
//@font-face {
//  font-family: Samim;
//  src: url('/fonts/Samim-Bold.woff') format('woff');
//  font-weight: bold;
//}

body {
  //background-color: $black;
}
